<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="<%= @the_dog.profile_picture %>" id="dog_show_image">
    </div>
    <div class="col-5 dog_show_nav_buttons" id="dog_show_name_header">
      <h1><%= @the_dog.first_name %> <%= @the_dog.last_name %></h1>
    </div>
    <div class="col dog_show_nav_buttons">
      <a href="/dogs/<%=@the_dog.id%>">Back To <%= @the_dog.first_name %> <%= @the_dog.last_name %></a>
    </div>
    <div class="col dog_show_nav_buttons">
      <a href="/delete_vaccination/<%= @the_vaccination.id %>">Delete vaccination</a>
    </div>
  </div>

  <div class="row vaccination_show_line_item">
    <h3>Edit <%= @the_vaccination.vaccintation_name %> Vaccination Details</h2>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit vaccination
    </h2>

    <form action="/modify_vaccination/<%= @the_vaccination.id %>"  method="post" >
      <div>
        <label for="dog_id_box">
          Dog
        </label>

        <input type="text" id="dog_id_box" name="query_dog_id" value="<%= @the_vaccination.dog_id %>">
      </div>

      <div>
        <label for="vaccintation_name_box">
          Vaccintation name
        </label>

        <input type="text" id="vaccintation_name_box" name="query_vaccintation_name" value="<%= @the_vaccination.vaccintation_name %>">
      </div>

      <div>
        <label for="given_date_box">
          Given date
        </label>

        <input type="datetime-local" id="given_date_box" name="query_given_date"
         value="<%= @the_vaccination.given_date %>">
      </div>

      <div>
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="datetime-local" id="expiration_date_box" name="query_expiration_date"
         value="<%= @the_vaccination.expiration_date %>">
      </div>

      <button>
        Update vaccination
      </button>
    </form>
  </div>
</div>

<hr>
