<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="<%= @the_dog.profile_picture %>" id="vaccination_show_image">
    </div>
    <div class="col-5 vaccination_show_nav_buttons" id="vaccination_show_name_header">
      <h1><%= @the_dog.first_name %> <%= @the_dog.last_name %></h1>
    </div>
    <div class="col vaccination_show_nav_buttons">
      <a href="/dogs/<%=@the_dog.id%>">Back To <%= @the_dog.first_name %> <%= @the_dog.last_name %></a>
    </div>
    <div class="col vaccination_show_nav_buttons">
      <a href="/delete_vaccination/<%= @the_vaccination.id %>">Delete vaccination</a>
    </div>
  </div>

  <hr>

  <div class="row vaccination_show_line_item">
    <h3>Edit <%= @the_vaccination.vaccintation_name %> Vaccination Details</h2>
  </div>

  <div>
    <form action="/modify_vaccination/<%= @the_vaccination.id %>"  method="post" >
      <div class="vaccination_show_field">
        <label for="vaccintation_name_box">Vaccintation name</label>
        <input type="text" id="vaccintation_name_box" name="query_vaccintation_name" value="<%= @the_vaccination.vaccintation_name %>">
      </div>
      <div class="vaccination_show_field">
        <label for="given_date_box">Given date</label>
        <input type="datetime-local" id="given_date_box" name="query_given_date" value="<%= @the_vaccination.given_date.strftime('%Y-%m-%dT%H:%M:%S') %>">
      </div>
      <div class="vaccination_show_field">
        <label for="expiration_date_box">Expiration date</label>
        <input type="datetime-local" id="expiration_date_box" name="query_expiration_date"value="<%= @the_vaccination.expiration_date.strftime('%Y-%m-%dT%H:%M:%S') %>">
      </div>
      <div>
        <label for="dog_id_box"></label>
        <input type="hidden" id="dog_id_box" name="query_dog_id" value="<%= @the_vaccination.dog_id %>">
      </div>
      <button class="vaccination_show_field">Save vaccination</button>
    </form>
  </div>

</div>
