<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="<%= @the_dog.profile_picture %>" id="dog_edit_image">
    </div>
    <div class="col-5 dog_edit_nav_buttons" id="dog_edit_name_header">
      <h1><%= @the_dog.first_name %> <%= @the_dog.last_name %></h1>
    </div>
    <div class="col dog_edit_nav_buttons">
      <a href="/dogs/<%=@the_dog.id%>">Back To <%= @the_dog.first_name %> <%= @the_dog.last_name %></a>
    </div>
  </div>

  <hr>

  <div class="row dog_edit_line_item">
    <h3>Edit <%= @the_dog.first_name %> <%= @the_dog.last_name %> Details</h2>
  </div>

  <div>
    <form action="/modify_dog/<%= @the_dog.id %>"  method="post" >
      <div class="dog_edit_field">
        <label for="first_name_box">First name</label>
        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_dog.first_name %>">
      </div>
      <div class="dog_edit_field">
        <label for="last_name_box">Last name</label>
        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_dog.last_name %>">
      </div>
      <div class="dog_edit_field">
        <label for="profile_picture_box">Profile picture</label>
        <input type="text" id="profile_picture_box" name="query_profile_picture" value="<%= @the_dog.profile_picture %>">
      </div>
      <div class="dog_edit_field">
        <label for="breed_box">Breed</label>
        <input type="text" id="breed_box" name="query_breed" value="<%= @the_dog.breed %>">
      </div>
      <div class="dog_edit_field">
        <label for="home_address_box">Home address</label>
        <textarea id="home_address_box" name="query_home_address"><%= @the_dog.home_address %></textarea>
      </div>
      <div class="dog_edit_field">
        <label for="date_of_birth_box">Date of birth</label>
        <input type="datetime-local" id="date_of_birth_box" name="query_date_of_birth" value="<%= @the_dog.date_of_birth.strftime('%Y-%m-%dT%H:%M:%S') %>">
      </div>
      <div class="dog_edit_field">
        <label for="vet_name_box">Vet name</label>
        <input type="text" id="vet_name_box" name="query_vet_name" value="<%= @the_dog.vet_name %>">
      </div>
      <div class="dog_edit_field">
        <label for="vet_address_box">Vet address</label>
        <textarea id="vet_address_box" name="query_vet_address"><%= @the_dog.vet_address %></textarea>
      </div>
      <div class="dog_edit_field">
        <label for="vet_phone_box">Vet phone</label>
        <input type="text" id="vet_phone_box" name="query_vet_phone" value="<%= @the_dog.vet_phone %>">
      </div>
      <div class="dog_edit_field">
        <label for="food_brand_box">Food brand</label>
        <textarea id="food_brand_box" name="query_food_brand"><%= @the_dog.food_brand %></textarea>
      </div>
      <div class="dog_edit_field">
        <label for="food_instructions_box">Food instructions</label>
        <textarea id="food_instructions_box" name="query_food_instructions"><%= @the_dog.food_instructions %></textarea>
      </div>
      <div class="dog_edit_field">
        <label for="chip_id_box">Chip</label>
        <input type="text" id="chip_id_box" name="query_chip_id" value="<%= @the_dog.chip_id %>">
      </div>
      <div class="dog_edit_field">
        <label for="owner_id_box">Owner</label>
        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_dog.owner_id %>">
      </div>
      <button class="dog_edit_field">
        Update dog
      </button>
    </form>
  </div>

</div>
