<div class="container">
  <div class="row dog_index_nav_buttons">
    <div class="col-6">
      <h1>Your Pup Dashboard</h1>
    </div> 
    <%if current_user != nil%>
      <div class = "col-2">
        <a href="/dogs/new_dog">Add New Dog</a>
      </div> 
      <div class = "col-2">
        <a href="/users/sign_out">Sign out</a>
      </div> 
      <div class = "col-2">
        <a href="/users/edit">Edit profile</a>
      </div> 
    <%else%>
      <div class = "col-2">
        <a href="/users/sign_up">Sign up</a>
      </div>
      <div class = "col-2">
        <a href="/users/sign_in">Sign in</a>
      </div>
    <%end%>
  </div>    

  <hr>

  <%if current_user != nil%>
    <%if @list_of_dogs != nil%>
      <div class="row">
        <table class="dog_index_table">
          <tr>
            <th>Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Details</th>
            <th>Delete</th>
          </tr>

          <% @list_of_dogs.each do |a_dog| %>
          <tr class="dog_index_table_hover">
            <td><img src="<%= a_dog.profile_picture %>" class="dog_index_profile_pic"></td>
            <td><%= a_dog.first_name %></td>
            <td><%= a_dog.last_name %></td>
            <td><a href="/dogs/<%= a_dog.id%>">...</a></td>
            <td><a href="/delete_dog/<%= a_dog.id %>">Delete Dog</a></td>
          </tr>
          <% end %>
        </table>
      </div>
    <%else%>
      <div></div>
    <%end%>
  <%else%>
    <div></div>
  <%end%>
