<div>
  <div>
    <h1>
      List of all dogs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dog
    </h2>

    <form action="/insert_dog" method="post">
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name">
      </div>

      <div>
        <label for="profile_picture_box">
          Profile picture
        </label>

        <input type="text" id="profile_picture_box" name="query_profile_picture">
      </div>

      <div>
        <label for="breed_box">
          Breed
        </label>

        <input type="text" id="breed_box" name="query_breed">
      </div>

      <div>
        <label for="home_address_box">
          Home address
        </label>

        <textarea id="home_address_box" name="query_home_address" rows="3"></textarea>
      </div>

      <div>
        <label for="date_of_birth_box">
          Date of birth
        </label>

        <input type="datetime-local" id="date_of_birth_box" name="query_date_of_birth">
      </div>

      <div>
        <label for="vet_name_box">
          Vet name
        </label>

        <input type="text" id="vet_name_box" name="query_vet_name">
      </div>

      <div>
        <label for="vet_address_box">
          Vet address
        </label>

        <textarea id="vet_address_box" name="query_vet_address" rows="3"></textarea>
      </div>

      <div>
        <label for="vet_phone_box">
          Vet phone
        </label>

        <input type="text" id="vet_phone_box" name="query_vet_phone">
      </div>

      <div>
        <label for="food_brand_box">
          Food brand
        </label>

        <textarea id="food_brand_box" name="query_food_brand" rows="3"></textarea>
      </div>

      <div>
        <label for="food_instructions_box">
          Food instructions
        </label>

        <textarea id="food_instructions_box" name="query_food_instructions" rows="3"></textarea>
      </div>

      <div>
        <label for="chip_id_box">
          Chip
        </label>

        <input type="text" id="chip_id_box" name="query_chip_id">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Create dog
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Profile picture
        </th>

        <th>
          Breed
        </th>

        <th>
          Home address
        </th>

        <th>
          Date of birth
        </th>

        <th>
          Vet name
        </th>

        <th>
          Vet address
        </th>

        <th>
          Vet phone
        </th>

        <th>
          Food brand
        </th>

        <th>
          Food instructions
        </th>

        <th>
          Chip
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_dogs.each do |a_dog| %>
      <tr>
        <td>
          <%= a_dog.id %>
        </td>

        <td>
          <%= a_dog.first_name %>
        </td>

        <td>
          <%= a_dog.last_name %>
        </td>

        <td>
          <%= a_dog.profile_picture %>
        </td>

        <td>
          <%= a_dog.breed %>
        </td>

        <td>
          <%= a_dog.home_address %>
        </td>

        <td>
          <%= a_dog.date_of_birth %>
        </td>

        <td>
          <%= a_dog.vet_name %>
        </td>

        <td>
          <%= a_dog.vet_address %>
        </td>

        <td>
          <%= a_dog.vet_phone %>
        </td>

        <td>
          <%= a_dog.food_brand %>
        </td>

        <td>
          <%= a_dog.food_instructions %>
        </td>

        <td>
          <%= a_dog.chip_id %>
        </td>

        <td>
          <%= a_dog.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_dog.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_dog.updated_at) %> ago
        </td>

        <td>
          <a href="/dogs/<%= a_dog.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
