<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="<%= @the_dog.profile_picture %>" id="dog_show_image">
    </div>
    <div class="col-5 dog_show_nav_buttons" id="dog_show_name_header">
      <h1><%= @the_dog.first_name %> <%= @the_dog.last_name %></h1>
    </div>
    <div class="col dog_show_nav_buttons">
      <a href="/dogs">Back To Pups</a>
    </div>
    <div class="col dog_show_nav_buttons">
      <a href="/dogs/edit/<%= @the_dog.id %>">Edit Dog</a>
    </div>
    <div class="col dog_show_nav_buttons">
      <a href="/delete_dog/<%= @the_dog.id %>">Delete Dog</a>
    </div>
  </div>

  <hr>

  <div class="row col dog_show_line_item">
    <div class="">
      <h3>Demographics:</h3>
    </div>
  </div>

  <div class="row dog_show_line_item">
    <div class="col">
      Home Address: <%= @the_dog.home_address %>
    </div>
  </div>

  <div class="row dog_show_line_item">
    <div class="col-3">
      Breed: <%= @the_dog.breed %>
    </div>
    <div class="col-3">
      Chip ID: <%= @the_dog.chip_id %>
    </div>
    <div class="col-3">
      Date Of Birth: <%= @the_dog.date_of_birth.strftime('%m/%d/%Y') %>
    </div>
  </div>

<hr>

  <div class="row col dog_show_line_item">
    <div class="">
      <h3>Care Routine:</h3>
    </div>
  </div>

  <div class="row dog_show_line_item">
    <div class="col">
      Food Brand: <%= @the_dog.food_brand %>
    </div>
  </div>

  <div class="row dog_show_line_item">
    <div class="col">
      Meal Plan: <%= @the_dog.food_instructions %>
    </div>
  </div>

<hr>

  <div class="row dog_show_line_item">
    <div class="col">
      <h3>Medical Record:</h3>
    </div>
  </div>

  <div class="row dog_show_line_item">
    <div class="col-3">
      Vet: <%= @the_dog.vet_name %>
    </div>
    <div class="col-3">
      Vet Phone Number: <%= @the_dog.vet_phone %>
    </div>
   <div class="col-3">
      Vet Address: <%= @the_dog.vet_address %>
    </div>
  </div>


  <div class="row" id="dog_show_vaccination_header">
    <div class="col-1"></div>
    <div class="col-2">
      <h5>Vaccinations:</h5>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
      <a href="/vaccinations/new/<%= @the_dog.id %>">Add Vaccination</a>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-9">
      <table id="dog_show_vaccination_table">
        <tr>
          <th>Name</th>
          <th>Given Date</th>
          <th>Expiration Date</th>
        </tr>

        <% @the_vaccinations.each do |a_vaccination| %>
        <tr>
          <td><a href="/vaccinations/<%= a_vaccination.id %>"><%= a_vaccination.vaccintation_name %></a></td>
          <td><%= a_vaccination.given_date.strftime('%m/%d/%Y') %></td>
          <td><%= a_vaccination.expiration_date.strftime('%m/%d/%Y') %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
